src/ViewportViewExtension/packages/
src/ViewportViewExtension/ViewportViewExtension/bin/
src/ViewportViewExtension/ViewportViewExtension/DynamoPackage/
src/ViewportViewExtension/ViewportViewExtension/obj/
src/ViewportViewExtension/.vs/
